.middle_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: radial-gradient(circle at 20% 20%, rgba(95, 100, 107, 1) 0%, rgba(93, 95, 105, 1) 12%, rgba(84, 84, 94, 1) 23%, rgba(40, 40, 48, 1) 56%, rgba(33, 32, 32, 1) 100%);

}

/* Middle wrapper left content */
.middle_wrapper>.middle_wrapper_left_content {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    align-items: stretch;
}

.middle_wrapper>.middle_wrapper_left_content>.middle_wrapper_text {
    font-size: 2em;
    color: white;
}

.middle_wrapper_top_text {
    text-align: justify;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 10px;
}

.middle_wrapper_bottom_text {
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
    color: #b5b8b7;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.1rem;
}

.bold_text {
    font-weight: 500;
}

.middle_wrapper_top_text img {
    width: 1em;
    height: min-content;
}

.middle_wrapper>.middle_wrapper_left_content>.middle_wrapper_buttons {
    display: flex;
    margin: -8px -6px 80px 0px;

}

.middle_wrapper>.middle_wrapper_left_content>.middle_wrapper_buttons>.sign_up_button {
    margin-right: 10px;
}

.btn_sign_up_free {
    background-color: #5cd07d;
    font-size: 2.1em;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #5cd07d;
}

.middle_wrapper>.middle_wrapper_left_content>.middle_wrapper_buttons>.learn_more_button {
    margin: 0px 5px;

}

.btn_learn_more {
    background-color: #111111;
    color: white;
    font-size: 2.1em;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #111111;
}

/* Middle_wrapper_right_content */
.middle_wrapper>.middle_wrapper_right_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.middle_wrapper>.middle_wrapper_right_content>.top_text {
    font-size: 1.2em;
    color: white;
    font-weight: 700;
    padding: 0px 10px;
    margin-top: 1.5rem;
}

.middle_wrapper>.middle_wrapper_right_content>.top_text p {
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.middle_wrapper>.middle_wrapper_right_content>.imagen_placeholder img {
    height: auto;
    width: 600px;
    margin-bottom: 5px;

}